body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}
main{
    width: 100%;
    max-width: 56rem;
}
.card-row {
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;

}
.hero-content {
    width: 75ch;
    /* margin: 0 auto; */
}
.hero-container {
    display: flex;
    justify-content: center;
    background-color: blueviolet
}
.card {
    min-width: 18rem;
    flex: 1;
}