body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    background-color: aqua;
    width: 100%;
    max-width: 1200px;
}
.card-row {
    display: flex;
}
.hero-content {
    width: 75ch;
    /* margin: 0 auto; */
}
.hero-container {
    display: flex;
    justify-content: center;
    background-color: blueviolet
}