body {
    display: flex;
    background-color: #F4C6AC;
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
    
}
main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
h1 {
    color: #FFE6C0;
    -webkit-text-stroke: 1px #FF4D00;
    font-family: Knewave;
    font-size: 4rem;
}
h2, p {
    color: #A33100;
    font-family: Just Another Hand;
    font-size: 2.25rem;
    font-weight: lighter;
}
h2 {
    font-size: 3rem;
}
header {
  text-align: center;
    background: #FF823C;
    color: white;
    font-size: 30px;
    font-family: Knewave;
    padding: 1rem;
}
header ul {
    list-style-type: none;
    font-size: 2rem;
}
.button {
    background-color: #FF8C4C;
    color: #A33100;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 2rem;
    margin: 4px 2px;
    font-family: Just Another Hand;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: fit-content;
    border-radius: 35%;
 }

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 1/1;
 }

 .card-row {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    flex-wrap: wrap;
 }