body {
    display: flex;
    background-image: url("images/kerttubackground (1).png");
    background-size: fill;
}
main {
    display: flex;
    min-width: 18rem;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
h1, p {
    color: #EFE8FB;
    text-align: center;
}
h1 {
    font-size: 5rem;
    font-family: bungee;
    -webkit-text-stroke-color: #9F5F13;
    -webkit-text-stroke-width: 0.25rem;
    text-shadow: -9px 6px 15px #d2bf552f;
    max-width: 700px;
}
p {
    font-family: inter;
    text-shadow: -3px 2px 0px #7F2B3A;
    max-width: 40rem;

}
div {
    margin: 0 auto;
}
.button {
    background-color: #FFEED6;
    border: 2px solid #FFAF51;
    border-radius: 12px;
    color: #FF738D;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    font-family: inter;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    width: fit-content;

    } 
    .button:hover {
        background-color: #eacda5 ;
        color: #ff002f;
    }
    
img {
    width: 65%;
    display: block;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;

}
