body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    background-image: url("images/galaxyy.jpeg");
    background-size: 170rem;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}
main{
    width: 100%;
    max-width: 56rem;
}
h1, h2 {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

.card-row {
    display: flex;
    background-color: aquamarine;
    flex-wrap: wrap;
    gap: 1rem;
    

}
.hero-content {
    width: 75ch;
    /* margin: 0 auto; */
}
.hero-container {
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    padding: 1rem;
    background-image: url("images/dogg.jpeg");
    background-size: 57rem;
    background-position: center;
}
.card {
    min-width: 18rem;
    flex: 1;
}
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 1rem;
}